*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/bg2.png);
    background-color: rgb(136, 187, 255);
    background-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color:#f1f1f1;
}

html{
    scroll-behavior: smooth;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.text {
    opacity: 0; 
    animation: fadeInUp 1s ease forwards;
}


.profile-section{
    display: flex;
    align-items: center;
    margin: 5px 0px;
    padding-left: 5px;
}

.profile{
    margin-left: 5px;
}

@keyframes typing-range{
    from{width: 0%;}
    to{width: 100%;}
}

@keyframes blink{
    from, to{
        border-color: transparent;
    }
    50% {border-color: white;}
}

.photo{
    border-radius: 5px;
    object-fit: cover;
}

.animate-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid white;
    width: 0;
    animation: typing-range 3s steps(30, end) 1, blink 0.8s step-end infinite;
    animation-fill-mode: forwards;
    background-color: black;
    color: white;
    padding: 10px;
    display: inline-block;
}

.my-address{
    align-items: center;
    position: relative;
    margin: 0 auto;
}



li, a{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline;
    position: left;
}

.photo{
    position: relative;
    align-items: flex-start;
    border-radius: 5px;
}

header{
    display: flex;
    padding: 25px 0%;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: transparent; /* Initial transparent background */
    transition: background-color 0.3s ease; /* Smooth transition */
    z-index: 1000;
}

#navbar.scrolled {
    background-color: #003878; /* Change this color as needed */
    opacity: 90%;
    height: 40px;
}

/* Navbar items */
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#navbar ul li a {
    text-decoration: none;
    padding: 10px;
}


.navlinks{
    position: fixed;
    list-style: none;
    background-color: transparent;
}

.navlinks li{
    padding: 0px 25px;
}

.navlinks li a{
    transition: all, 0.3s, ease 300ms;
}

.navlinks li a:hover{
    padding: 5px 15px;
    color:rgb(108, 44, 255);
    background-color: rgb(0, 149, 255);
    border-radius: 10px;
    cursor: pointer;
}

footer{
    font-size: 30px;
    position: absolute;
    height: 100px;
    display: flex;
    bottom: 20px;
    right: 20px;
    text-align: center;
}




.title-4{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background-size: cover;
    padding-bottom: 30px;
    width: 350px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0; 
    animation: fadeInUp 1s ease forwards;
}

.wrap{
    gap: var(--size-5);
    display: grid;
    overflow-x: auto;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    overscroll-behavior-inline: contain;
    animation: fadeInRight 1s ease forwards;
}

.wrap2{
    gap: var(--size-5);
    display: grid;
    overflow-x: auto;
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    overscroll-behavior-inline: contain;
    animation: fadeInRight 1s ease forwards;
}

.animes {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    margin: 10px;           
}

.animes img {
    width: 100%;          
    height: auto;          
}

.animes b {
    margin-top: 10px;       
    text-align: center;     
}


.wrap3{
    gap: var(--size-5);
    display: grid;
    overflow-x: auto;
    grid-auto-flow: column;
    grid-auto-columns: 40%;
    overscroll-behavior-inline: contain;
    animation: fadeInRight 1s ease forwards;
}

.wrap4{
    gap: var(--size-5);
    display: grid;
    overflow-x: auto;
    grid-auto-flow: column;
    grid-auto-columns: 40%;
    overscroll-behavior-inline: contain;
    animation: fadeInRight 1s ease forwards;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */
}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
    background: #ffffff; /* Color of the track */
    border-radius: 10px; /* Roundness of the track */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background: #888; /* Color of the handle */
    border-radius: 10px; /* Roundness of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #65a5ff; /* Darker color on hover */
}

.organization img  {
    display: flex;
    align-items: center;
    text-align: center;
    animation: fadeInUp 1s ease forwards;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.TPKH-ITS {
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: fadeInUp 1s ease forwards;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.namaorganisasi {
    display: flex;
    align-items: center;
    justify-content: center; /* This ensures horizontal centering */
    text-align: center;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background-size: cover;
    padding: 30px 0; /* Adjusted padding to make the text fit better */
    width: 250px;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeInUp 1s ease forwards;
    font-size: large;
}
